<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Post</title>
</head>
<body>
{% extends "base.html" %}  <!-- kindof templates inheritance -->

{% block content %}

<h1> Creation Template </h1>

<form method="POST" action="{% url 'create' %}" enctype="multipart/form-data" >
    {% csrf_token %} <!-- a little bit of defence here -->
    Title:
    <br />
    <input type="text" name="title" size=50/>
    <br />
    Text:
    <br />
    <!-- <textarea name="body" cols=51 rows=8> </textarea> -->
    <input type="textbox" name="body" size=50/>
    <br />
    URL:
    <br />
    <input type="text" name="url" size=50 />
    <br />
    Icon:
    <br />
    <input type="file" name="icon" />
    <br />
    Image:
    <br />
    <input type="file" name="image" />
    <br />
    <br />
    <input class="btn btn-primary" type="submit" value="Post" />
    <br />
</form>

{% endblock %}
</body>
</html>
